<header id="main-header">
  <div id="logo"><a href="/">FURNITIFY</a></div>
  <nav>
    <%- include('nav-items') %>
  </nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<!-- aside element keeps which is part of the page but not directly visible on visiting the page  -->
<aside id="mobile-menu">
  <nav>
    <%- include('nav-items') %>
  </nav>
</aside>